body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #007BFF;
    color: white;
}

img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}