body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

th,
td {

    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.blue-header {
    background-color: #007BFF;
    color: white;
}

.highlight-row {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.selected-row>th,
.selected-row>td {
    background-color: #ADD8E6;
    color: darkblue;
    font-weight: bold;
    font-size: 1.2em;
}

.song-link {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.song-link:hover {
    color: #007BFF;
    text-decoration: underline;
    font-size: 1.1em;
}